body {
    font-family: 'Arial', sans-serif;
    background-color: #222;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    max-width: 400px;
}

.window {
    background-color: #333;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-title {
    color: #d32f2f;
    font-size: 24px;
    margin-bottom: 20px;
}

.input-field {
    width: 100%;
    margin-bottom: 20px;
}

.input-field label {
    color: #fff;
    font-size: 16px;
}

.input-field input {
    border: 1px solid #ccc;
    background-color: #444;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
}

.input-field input:focus {
    border-color: #d32f2f;
}

.btn {
    margin-top: 20px;
    background-color: #d32f2f;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: #b71c1c;
}
